.carousel {
   max-width: 100%;

     /* Centralize o carousel na página */
}
.navbar{

    margin: 0 auto;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Cor do controle deslizante (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: grey;
}

/* Largura da barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
    height: 10px;
}

i{
    color: black;
}

#zap:hover{

    color: #24CC63;
}
#linkedin:hover{

    color: #0E72A3;
}
#insta:hover{

    color: #E34F7C;
}
#git:hover{

    color: #24292F;
}
path{
    color: #E34F7C;
}

.navbar-default {
    background-color: #212529; /* Cor de fundo padrão */
    transition: 0.5s;
}

.navbar-scroll {
    background-color: #697783; /* Cor de fundo quando a navbar fica no topo */
    transition: background-color 0.s; /* Efeito de transição suave */
    color: #0E72A3;
}
.icon-container {
    display: inline-block;
    flex-direction: column;
    align-items: self-end;
  }
